{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <title>Ingreso Tersa Cosmeticos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'base/images/icons/favicon.ico' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'base/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'base/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'base/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'base/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'base/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'base/vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'base/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'base/vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/main.css' %}">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url('/static/base/images/bg-01.jpg');">
                    <span class="login100-form-title-1">
                        Ingreso de Usuarios
                    </span>
                </div>

                <form class="login100-form validate-form" method="POST">
                    {% csrf_token %}
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Usuario Obligatorio">
                        <span class="label-input100">Usuario</span>
                        <input class="input100" type="text" id="id_username" name="username"
                            placeholder="Ingrese su usuario">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Contraseña obligatoria">
                        <span class="label-input100">Contraseña</span>
                        <input class="input100" type="password" id="id_password" name="password"
                            placeholder="Ingrese su contraseña">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-30">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
                                Forgot Password?
                            </a>
                        </div>
                    </div>
                    <small class="text-danger">
                        {% if form.errors %}
                        {% for field in form %}
                        {% if field.errors %}
                        {% for error in field.errors %}
                        {{ error|escape }}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}

                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        {{ error|escape }}
                        {% endfor %}
                        {% endif %}
                        {% endif %}
                    </small>
                    <br>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Ingresar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="{% static 'base/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'base/vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'base/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'base/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'base/vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'base/vendor/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'base/vendor/daterangepicker/daterangepicker.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'base/vendor/countdowntime/countdowntime.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'base/js/main.js' %}"></script>

</body>

</html>